<!-- jinja2 템플릿 언어를 사용함 -->

<!-- 기본 구조 상속 -->
{% extends "index.html" %}

{% block contents %}
<div id="contents">
    <div class="backImage"></div>
    <div class="bank-page">
        <div class="form">
            <form class="fakebank-form" action="/fakebank" method="post">
                <p>BANK Remain : </p><br>
                <input type="number" name="amount" placeholder="Amount of Money"/>
                <button>BUY</button>
            </form>
        </div>  
    </div>
</div>
{% endblock %}